{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<div class="container">
  <h1>О нас</h1>
  <p>Мы - команда Super TransLator, занимаемся разработкой онлайн-сервиса для перевода текстов на различные языки мира. Наша миссия - сделать процесс перевода максимально быстрым и удобным для пользователей со всего мира.</p>
  <p>Наши контактные данные:</p>
  <ul>
    <li>Email: supertranslator@example.com</li>
    <li>Телефон: +1 234 567 8901</li>
    <li>Адрес: 123 Main Street, Anytown, USA</li>
  </ul>
</div>
{% endblock %}
