{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<div class="container_about">
  <h1 class="text-center">О нас</h1>
  <p>Сайт разработан студентами Школы Лингвистики в апреле 2023 года. Если у вас есть предложения или вдруг вы хотите стать нашими спонсорами -- приходите в корпус Вышки на Старой Басманной и ищите нас на просторах ШЛ...</p>
  <p>Наши контактные данные:</p>
  <ul>
    <li>Email: hellofromtheother@side.com</li>
    <li>Телефон: +27 10 1999</li>
    <li>Адрес: Москва, Трубная пл., 2</li>
  </ul>
</div>
{% endblock %}
