{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<div class="wrapper">
  <div class="content">
  <h1 class="text-center">О нас</h1>
  <p>The website was developed by students of the School of Linguistics in April 2023. If you have any suggestions or perhaps you would like to become our sponsors, come to the Higher School of Economics building on Staraya Basmannaya Street and look for us within the School of Linguistics.</p>
  <br>
  <pre>
    website/
    ├── app.py
    ├── eng2tok.py
    ├── dictionary.json
    ├── website
    │   ├── static
    │   │   ├── css
    |   |   |   └── main.css
    │   │   ├── js
    |   |   |   └── app.js
    │   │   ├── img
    │   │   ├── fonts
    |   |   ├── libs 
    │   │   └── READ.me
    |   └── templates
    |       ├── base.html
    |       ├── home.html
    |       ├── phrasebook.html
    |       ├── translate.html
    |       ├── dictionary.html
    |       ├── about.html
    |       └── READ.me
    └── READ.me
  </pre>
</div>
</div>
{% endblock %}
