<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Заголовок страницы -->
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favic.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet" type="text/css" />

</head>

<body>
    <header style="display: flex; justify-content: space-between; align-items: center; padding: 10px 20px;">
        <div>
            <h1 style="margin: 0; font-size: 28px;">TokiChill</h1>
        </div>

        <div>
            <a href="https://github.com/NotBioWaste905/toki-pona-translator" target="_blank">
                <img src="{{ url_for('static', filename='img/github.png') }}" alt="GitHub" style="height: 40px;">
            </a>
        </div>
    </header>

    <!-- Панель навигации -->
    <nav class="navbar">
        <a href="/">Main</a>
        <a href="/phrasebook">Phrasebook</a>
        <a href="/translate">Translator</a>
        <a href="/dictionary">Dictionary</a>
        <a href="/about">Support Us</a>
    </nav>
    
    <!-- Основное содержимое страницы -->
    <div class="content">
        {% block body %}{% endblock %}
    </div>

    
</body>
</html>
