{% extends 'base.html' %}

{% block title %}
    О языке Токипона
{% endblock %}

{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='libs/gsap/gsap.min.js') }} " defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/gsap/ScrollTrigger.min.js') }} " defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/gsap/ScrollSmoother.min.js') }} " defer></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}" defer></script>

    <div class="wrapper">
        <div class="content">
            <header class="main-header">
                <div class="layers">
                    <div class="layer__header">
                        <div class="layers__caption">Welcome to the most accurate</div>
                        <div class="layers__title">TokiPona Translator</div>
                    </div>
                    <div class="layer layers__base" style="background-image"> <img src="{{ url_for('static', filename='img/bg_black.png') }}"></div>
                    <div class="layer layers__middle" style="background-image"> <img src="{{ url_for('static', filename='img/beams.png') }}"></div>
                    <div class="layer layers__front" style="background-image"> <img src="{{ url_for('static', filename='img/sun.png') }}"></div>
                </div>
            </header>
            
            <article class="main-article" style="background-image">
                    <div class="main-article__content">   
                    <h1 class="main-article__header">Токипона - простой и эффективный язык</h1>
                    <p class="main-article__paragraph">Токипона - это искусственный язык, созданный Джона Тейсовым в 2001 году. Он был разработан с целью облегчить коммуникацию между людьми разных культур и национальностей.</p>
                    <p class="main-article__paragraph">Токипона является очень простым языком, который состоит всего из 118 слов. В этом языке отсутствуют грамматические правила, что делает его очень легким в изучении.</p>
                    <p class="main-article__paragraph">Токипона может быть использован в различных сферах жизни, включая бизнес, туризм, образование и межкультурную коммуникацию. Этот язык также может быть полезен для людей с нарушением слуха или речи.</p>
                </div>
            
            <div class="copy">© TokiPona lovers</div>
            </article>
        </div>
    </div>

{% endblock %}