{% extends 'base.html' %}

{% block title %}
    О языке Токипона
{% endblock %}

{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='libs/gsap/gsap.min.js') }} " defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/gsap/ScrollTrigger.min.js') }} " defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='libs/gsap/ScrollSmoother.min.js') }} " defer></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}" defer></script>

    <div class="wrapper">
        <div class="content">
            <header class="main-header">
                <div class="layers">
                    <div class="layer__header">
                        <div class="layers__caption">Welcome to the most accurate</div>
                        <div class="layers__title">TokiPona Translator</div>
                    </div>
                    <div class="layer layers__base" style="background-image"> <img src="{{ url_for('static', filename='img/bg_black.png') }}"></div>
                    <div class="layer layers__middle" style="background-image"> <img src="{{ url_for('static', filename='img/beams.png') }}"></div>
                    <div class="layer layers__front" style="background-image"> <img src="{{ url_for('static', filename='img/sun.png') }}"></div>
                </div>
            </header>
            
            <article class="main-article" style="background-image">
                    <div class="main-article__content">   
                    <h1 class="main-article__header">Токипона - универсальный искусственный язык</h1>
                    <p class="main-article__paragraph">Токипона - это искусственный язык, созданный канадской лингвисткой и переводчицей Соней Ланг в 2000-х. Название Toki Pona переводится как "язык добра".</p>
                    <p class="main-article__paragraph">Ланг во время работы по созданию языка была вдохновлена учениями о дао и дзэн и работами философов-примитивистов. </p>
                    <p class="main-article__paragraph">Токипона является очень простым языком, в его лексиконе около 120 корней. Минимализм лексики сведён также к тому, что, например, в языке отсутствуют названия животных и растений. В этом языке отсутствуют грамматические правила, что делает его очень легким в изучении.</p>
                    <p class="main-article__paragraph">На токипоне общаются в основном в Интернете, а за его пределами -- в Канаде, США, Европе, Израиле, Японии и России. В 2020 году ограниченным тиражом в печати вышел учебник, составленный интернет-активистами и изданный издательством Скрипториум.</p>
                    <p class="main-article__paragraph">Вы можете изучить словарь Токипоны и сверить переводы здесь: <a href="https://zrajm.github.io/toki-pona-syllabics/dictionary/">словарь</a>.</p>
                </div>
            
            <div class="copy">© TokiPona lovers</div>
            </article>
        </div>
    </div>

{% endblock %}