{% extends 'base.html' %}

{% block title %}
    Переводчик
{% endblock %}

{% block body %}
    <div class="container-fluid" style="display: flex; justify-content: center; align-items: center;">
        <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="col-md-6" style="margin-right: 20px;">
                <h3>English</h3>
                <form action="{{ url_for("translate")}}" method="post">
                    <textarea class="form-control" rows="15" id="inputText" name="inputText" placeholder="Enter your text">{{ input }}</textarea>
                    <button type="submit">Translate</button>
                </form>
            </div>
            <div class="col-md-6">
                <h3>Toki pona</h3>
                <textarea class="form-control" rows="15" id="outputText" readonly>{{ translation }}</textarea>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
