{% extends 'base.html' %}

{% block title %}
    Translator
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="content">
        <div class="container-fluid" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
            
            <h2 style="margin-bottom: 20px; color: #000080;">Welcome to the Translator!</h2>
            <p style="margin-bottom: 30px;">Enter a word or a sentence in English or Toki Pona, and we'll provide you with its translation.</p>
            

            <!-- Форма для выбора направления перевода -->
            <form id="translationForm" style="margin-bottom: 20px;">
                <span style="background-color: #ffff63; padding: 5px;">Translate from:</span>
                <select id="direction" name="direction">
                    <option value="eng-toki">English to Toki Pona</option>
                    <option value="toki-eng">Toki Pona to English</option>
                </select>
            </form>

            <!-- Формы для ввода слова и вывода перевода -->
            <form id="translationForm" style="display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap; max-width: 800px;">

                <div style="width: 400px; margin: 10px;">
                    <label for="inputWord">Enter a word or a sentence for translation:</label>
                    <input type="text" id="inputWord" name="inputWord" style="width: 100%;">
                </div>

                <div style="width: 400px; margin: 10px;">
                    <label for="outputTranslation">Translation:</label>
                    <div id="outputTranslation" style="border: 1px solid #ccc; padding: 10px; height: 200px; overflow: auto;"></div>
                </div>

                <div class="translate-btn-container" style="margin-top: 10px; width: 100%;">
                    <button class="translate-btn" type="submit">Translate</button>
                </div>
            </form>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}
